<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página estilo DHL</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>
    <div><a href="index.html" style="text-decoration:none;"><strong class="logo">HackatonDHL</strong></a></div>
    <nav>
        <a href="#">Haga seguimiento</a>
        <a href="#">Enviar</a>
        <a href="#">Servicios de logística</a>
        <a href="simulacion.html">Simulación ECO</a>
    </nav>
    <a href="profile.html" class="header-profile">
        <span class="header-avatar">CM</span>
        <span class="header-username">Carlos M.</span>
    </a>
</header>

<div class="hero-bg">
<section class="hero">
    <h1>Siga su envío</h1>

    <div class="track-box">
        <input type="text" id="tracking" placeholder="Indica tu(s) número(s) de seguimiento">
        <a class="btn" href="envio.html">Seguir envío</a>
    </div>
</section>

<section class="card-section">
    <div class="card">
        <h3>Enviar ahora</h3>
        <p>Encuentra el servicio adecuado.</p>
    </div>

    <div class="card">
        <h3>Obtener un presupuesto</h3>
        <p>Solicita un coste estimado rápido.</p>
    </div>

    <div class="card">
        <h3>Cuenta de empresa</h3>
        <p>Accede a soluciones para negocios.</p>
    </div>
</section>
</div>

<section class="news-section">
    <h2>Novedades actuales</h2>
    <p>Información y noticias relacionadas.</p>
</section>


</body>
</html>